<!DOCTYPE html>
<html lang="ko" class="OUTLINE_DISABLED">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="정부의 서비스, 민원, 정책·정보를 통합·제공하는 대한민국 정부 대표포털">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:image" content="http://www.gov.kr/images/etc/og_image_600.png">

	<title>정부24보이스</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<meta property="og:title" content="정부서비스 | 정부24">
	<meta property="og:description" content="정부의 서비스, 민원, 정책·정보를 통합·제공하는 대한민국 정부 대표포털">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/login.css">
    
</head>
<body>
	<main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">로그인</h1>
        
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">이메일</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">비밀번호</label>
            </div>
        
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">입력완료</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>

</body>
</html>