<!DOCTYPE html>
<html lang="ko" class="OUTLINE_DISABLED">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="정부의 서비스, 민원, 정책·정보를 통합·제공하는 대한민국 정부 대표포털">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:image" content="http://www.gov.kr/images/etc/og_image_600.png">

	<title>정부24보이스</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<meta property="og:title" content="정부서비스 | 정부24">
	<meta property="og:description" content="정부의 서비스, 민원, 정책·정보를 통합·제공하는 대한민국 정부 대표포털">
    
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/voice.css">
    
</head>
<body>
	<header>
        <div class="header-top">
            <i class="fas fa-bars"></i>
            <a href="main.html">
                <h1 class="title">정부24 보이스민원</h1>
            </a>
            <i class="fas fa-user-alt"></i>
        </div>
    </header>

    <main>
        <section class="search">
            <div class="search-box">
                <input type="text" class="search-text">
                <button class="btn search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </section>
        
        <nav>
            <ul>
                <li><a href="">서류발급</a></li>
                <li><a href="">음성등록</a></li>
                <li><a href="">발급받은서류</a></li>
                <li><a href="">발급받기</a></li>
            </ul>
        </nav>

        <div class="line"></div>

        <section class="login-section">
            <div class="circle">
                <img class="mic" src="https://img.icons8.com/fluency/96/000000/microphone.png"/>
            </div>
        </section>
    </main>

    <footer class="footer-element">
		<div class="top-element">
			<div class="top-inner">
				<ul class="footer-menu">
					<li>
                        <a href="/portal/useStplat?Mcode=11229">이용약관</a>
                    </li>
					<li>
                        <a href="/portal/privacy?Mcode=11230">
                            <strong>개인정보처리방침</strong>
                        </a>
                    </li>
					<li>
                        <a href="/portal/ntcItm?Mcode=11006">고객센터</a>
                    </li>
					<li>
                        <a href="#">개선의견수렴</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="body-element">
			<div class="body-inner">
				<p class="footer-infor">
					정부24 콜센터 1588-2188 (09:00 ~ 18:00 평일) 정부민원안내콜센터 국번없이 110 (365일 24시간)<br> 
					Copyright © Ministry of the Interior and Safety. All Rights reserved.
				</p>
			</div>
		</div>
	</footer>

</body>
</html>